<a href="https://colab.research.google.com/github/Shivani-Shreyas/pandas_exercises/blob/master/Pokemon_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('pokemon_data.csv')

In [0]:
import matplotlib.pyplot as plt

In [55]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [56]:
print(df.head(10))

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 12 columns]

In [57]:
df = pd.read_csv('pokemon_data.txt', delimiter = '\t')
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [58]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [59]:
df.tail()

       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 12 columns]

In [60]:
df.tail(-5)

       #                       Name   Type 1  ... Speed  Generation  Legendary
5      5                 Charmeleon     Fire  ...    80           1      False
6      6                  Charizard     Fire  ...   100           1      False
7      6  CharizardMega Charizard X     Fire  ...   100           1      False
8      6  CharizardMega Charizard Y     Fire  ...   100           1      False
9      7                   Squirtle    Water  ...    43           1      False
..   ...                        ...      ...  ...   ...         ...        ...
795  719                    Diancie     Rock  ...    50           6       True
796  719        DiancieMega Diancie     Rock  ...   110           6       True
797  720        HoopaHoopa Confined  Psychic  ...    70           6       True
798  720         HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721                  Volcanion     Fire  ...    70           6       True

[795 rows x 12 columns]

In [61]:
print(df.Name)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [62]:
print(df['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [63]:
print(df[['Name','Type 1', 'HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [64]:
print(df[['Name', 'HP'][0:5]])

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

In [65]:
df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [66]:
print(df.iloc[1:3])

   #      Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
1  2   Ivysaur  Grass  Poison  ...       80     60           1      False
2  3  Venusaur  Grass  Poison  ...      100     80           1      False

[2 rows x 12 columns]

In [67]:
for index, row in

SyntaxError: ignored

In [0]:
df.loc[df['Legendary'] == True]

In [0]:
df.describe()

In [0]:
df.sort_values(['Type 1'])

In [0]:
df.sort_values(['Type 1'], ascending = [0])

In [0]:
df.sort_values(['Type 1', 'HP'], ascending = [0,1])
#type 1 is sorted in descending and HP in ascending

In [0]:
df.sort_values(['Type 1', 'HP'], ascending = [0,0])
#type 1 is sorted in descending and HP in ascending

In [0]:
df.head(10)

In [0]:
df['Total'] = df['Attack'] + df['HP']

In [0]:
df

In [0]:
df.head(5)

In [0]:
df = df.drop(columns = ['Total'])
print(df.head(20))

In [0]:
df.to_csv('modified.csv', index = True)

In [0]:
ls

In [0]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

In [0]:
new_df

In [0]:
new_df.reset_index(drop = True, inplace = True)

In [0]:
print(new_df)

In [0]:
new_df.to_csv('modified1.csv', index = 'True')

In [0]:
ls

In [0]:
cd modified1.csv

In [0]:
ls